fullName: APEM BUNDLE
codeName: APEM
version: 0.0.1
env: development

langConf
  active: en
  path: ./lang
  fileName: data.json

loggerZapConf:
  mode:
  level:
  output:

httpConf:
  host: 127.0.0.1
  port: 8080

dbGormConf:
  dsn: host=127.0.0.1 port=5432 user=postgres password=postgres dbname=apem sslmode=disable TimeZone=Asia/Jakarta
  maxOpenConns: 5
  maxIdleConns: 5
  maxIdleTime: 100
  dialect: postgres

memRedisConf:
  dsn: 127.0.0.1:6379

authConf:
  atSecretKey: OLDWORLDORDER
  rtSecretKey: BLACKSEAOFIGNORANCE

